<h4>Billing Address</h4>
<hr class="padding-bottom-1x">
<form *ngIf="formShipping" [formGroup]="formShipping">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group"
        [ngClass]="{'has-danger': formShipping.get('postcode').invalid && formShipping.get('postcode').touched}">
        <label for="postcode">Post Code</label>
        <input class="form-control" type="text" id="postcode" name="postcode" formControlName="postcode">
        <div class="form-control-feedback"
          *ngIf="formShipping.get('postcode').invalid && formShipping.get('postcode').touched">Please enter your postcode!
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <app-map></app-map>
    </div>
  </div>
  <br>
  <h4>Base on your location hear are your shipping options</h4>
  <hr class="padding-bottom-1x">
  <div class="row">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th>Shipping method</th>
            <th>Delivery time</th>
            <th>Handling fee</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let shippingMethod of shippingMethods">
            <td class="align-middle">
              <span class="text-medium">{{shippingMethod.method}}</span>
            </td>
            <td class="align-middle">{{shippingMethod.time}}</td>
            <td class="align-middle">{{shippingMethod.fee | currency}}</td>
            <td class="align-middle">
              <label class="custom-control custom-radio">
                <input class="form-control-radio" type="radio" name="shippingMethod" value="{{shippingMethod.value}}"
                  formControlName="shippingMethod">
                <span class="custom-control-indicator"></span>
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <!-- <h4>Shipping Address</h4>
  <hr class="padding-bottom-1x">
  <div class="form-group">
    <label class="custom-control custom-checkbox">
      <input class="custom-control-input" type="checkbox" checked>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">for testing</span>
      <a href="" (click)="onFillForm($event)">Debug: Fill out form</a>
    </label>
  </div> -->
</form>

<app-checkout-footer [buttons]="['backToCart', 'continue']" (continue)="onContinue()"
  [continueEnabled]="formShipping.valid"></app-checkout-footer>