<form *ngIf="formShipping" [formGroup]="formShipping">
  <h4>Please select your postal code view shipping options</h4>
  <hr class="padding-bottom-1x">
  <!-- <div class="row">
    <div class="col-sm-6">
          <app-map [height]=300 ></app-map>
    </div>
  </div> -->

  <br>


  <div class="row">
    <div class="col-sm-6">
      <div class="form-group"
        [ngClass]="{'has-danger': formShipping.get('postcode').invalid && formShipping.get('postcode').touched}">
        <label for="postcode">Post Code</label>
        <input class="form-control" type="text" id="postcode" name="postcode" formControlName="postcode">
        <div class="form-control-feedback"
          *ngIf="formShipping.get('postcode').invalid && formShipping.get('postcode').touched">Please enter your
          postcode!
        </div>
      </div>
    </div>
  </div>

  <h4 *ngIf="!formShipping.get('postcode').invalid">based on your location here are your shipping opyions</h4>

  <div class="col-sm-12">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th>Shipping method</th>
            <th>Delivery time</th>
            <th>Handling fee</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="!formShipping.get('postcode').invalid">
          <tr *ngFor="let shippingMethod of shippingMethods">
            <td class="align-middle">
              <span class="text-medium">{{shippingMethod.method}}</span>
            </td>
            <td class="align-middle">{{shippingMethod.time}}</td>
            <td class="align-middle">{{shippingMethod.fee | currency}}</td>
            <td class="align-middle">
              <label class="custom-control custom-radio">
                <input class="form-control-radio" type="radio" name="shippingMethod" value="{{shippingMethod.value}}"
                  formControlName="shippingMethod">
                <span class="custom-control-indicator"></span>
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- </div> -->

  <div *ngIf="formShipping.get('shippingMethod').value === 'sameDay'">

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group"
          [ngClass]="{'has-danger': formShipping.get('deliveryDate').invalid && formShipping.get('deliveryDate').touched}">
          <label for="deliveryDate">Delivery Date</label>


          <!-- <ngb-datepicker #dp  (navigate)="date = $event.next" name="deliveryDate" formControlName="deliveryDate"></ngb-datepicker> -->
          <input class="form-control" placeholder="yyyy-mm-dd" id="deliveryDate" name="deliveryDate" formControlName="deliveryDate"
          name="dp"  ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>

          <!-- <input class="form-control" type="text" id="deliveryDate" name="deliveryDate" formControlName="deliveryDate"> -->
          <div class="form-control-feedback"
            *ngIf="formShipping.get('deliveryDate').invalid && formShipping.get('deliveryDate').touched">Please enter
            Delivery Date!
          </div>
        </div>
      </div>
      <div class="col-sm-6">
          <div class="form-group"
            [ngClass]="{'has-danger': formShipping.get('deliveryTime').invalid && formShipping.get('deliveryTime').touched}">
            <label for="deliveryTime">Delivery Time</label>
            <!-- (change)="changeFruit($event)" -->
            <select class="custom-select" formControlName="deliveryTime">
              <option value="0">12:00 am</option>
              <option value="1">1:00 am</option>
              <option value="2">2:00 am</option>
              <option value="3">3:00 am</option>
              <option value="4">4:00 am</option>
              <option value="5">5:00 am</option>
              <option value="6">6:00 am</option>
              <option value="7">7:00 am</option>
              <option value="8">8:00 am</option>
              <option value="9">9:00 am</option>
              <option value="10">10:00 am</option>
              <option value="11">11:00 am</option>
              <option value="12">12:00 pm</option>
              <option value="13">1:00 pm</option>
              <option value="14">2:00 pm</option>
              <option value="15">3:00 pm</option>
              <option value="16">4:00 pm</option>
              <option value="17">5:00 pm</option>
              <option value="18">6:00 pm</option>
              <option value="19">7:00 pm</option>
              <option value="20">8:00 pm</option>
              <option value="21">9:00 pm</option>
              <option value="22">10:00 pm</option>
              <option value="23">11:00 pm</option>
            </select>

            <div class="form-control-feedback"
              *ngIf="formShipping.get('deliveryTime').invalid && formShipping.get('deliveryTime').touched">Please Select
              Delivery Time !
            </div>

          </div>
      </div>
    </div>

  </div>




</form>

<app-checkout-footer [buttons]="['backToCart', 'continue']" (continue)="onContinue()"
  [continueEnabled]="formShipping.valid"></app-checkout-footer>

<!-- 
  <hr class="padding-bottom-1x"> -->