



<form  [formGroup]="formShipping">





  <h4>Please select your postal code view shipping options</h4>
  <hr class="padding-bottom-1x">
 <div class="row">
    <div class="col-sm-6">
          <app-map [height]=300 ></app-map>
    </div>
  </div> 

  <br>


  <div class="row">
    <div class="col-sm-6">
      <div class="form-group"
        [ngClass]="{'has-danger': formShipping.get('postcode').invalid && formShipping.get('postcode').touched}">
        <label for="postcode">Post Code</label>
        <input class="form-control" type="text" id="postcode" name="postcode" formControlName="postcode">
        <div class="form-control-feedback"
          *ngIf="formShipping.get('postcode').invalid && formShipping.get('postcode').touched">Please enter your
          postcode!
        </div>
      </div>
    </div>
  </div>

  <h4 [hidden]="formShipping.get('postcode').invalid">based on your location here are your shipping options</h4>
  <hr class="padding-bottom-1x">

  <div class="col-sm-12">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th>Shipping method</th>
            <th>Delivery time</th>
            <th>Handling fee</th>
            <th></th>
          </tr>
        </thead>
        <tbody [hidden]="formShipping.get('postcode').invalid" >
          <tr *ngFor="let shippingMethod of shippingMethods">
            <td class="align-middle">
              <span class="text-medium">{{shippingMethod.method}}</span>
            </td>
            <td class="align-middle">{{shippingMethod.time}}</td>
            <td class="align-middle">{{shippingMethod.fee | currency}}</td>
            <td class="align-middle">
              <label class="custom-control custom-radio">
                <input class="form-control-radio" type="radio" name="shippingMethod" value="{{shippingMethod.value}}"
                  formControlName="shippingMethod">
                <span class="custom-control-indicator"></span>
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>




  
  <div   [hidden]="formShipping.get('postcode').invalid || formShipping.get('shippingMethod').value !== 'sameDay'">

    <h4 >Please select the Delivery date and time for sameDay</h4>
    <hr class="padding-bottom-1x">

    <div class="row">
      <div class="col-sm-6">



        <div class="form-group">
          <label for="deliveryDate">Delivery Date</label>
          <div class="input-group">
            <input formControlName="deliveryDate" [ngClass]="{'has-danger': formShipping.get('deliveryDate').invalid && formShipping.get('deliveryDate').touched}" class="form-control" placeholder="yyyy-mm-dd"
                   name="dp"  ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                   <i class="pe-7s-date"></i>
              </button>
            </div>

          </div>
        </div>

      </div>
      <div class="col-sm-6">
          <div class="form-group"
            [ngClass]="{'has-danger': formShipping.get('deliveryTime').invalid && formShipping.get('deliveryTime').touched}">
            <label for="deliveryTime">Delivery Time</label>
            <select class="custom-select" formControlName="deliveryTime">
       
              <option value="8:00 am">8:00 am</option>
              <option value="9:00 am">9:00 am</option>
              <option value="10:00 am">10:00 am</option>
              <option value="11:00 am">11:00 am</option>
              <option value="12:00 pm">12:00 pm</option>
              <option value="1:00 pm">1:00 pm</option>
              <option value="2:00 pm">2:00 pm</option>
              <option value="3:00 pm">3:00 pm</option>
              <option value="4:00 pm">4:00 pm</option>
              <option value="5:00 pm">5:00 pm</option>
              <option value="6:00 pm">6:00 pm</option>
              <option value="7:00 pm">7:00 pm</option>
              <option value="8:00 pm">8:00 pm</option>
            </select>

            <div class="form-control-feedback"
              *ngIf="formShipping.get('deliveryTime').invalid && formShipping.get('deliveryTime').touched">Please Select
              Delivery Time !
            </div>

          </div>
      </div>
    </div>

  </div>

  <app-checkout-footer [buttons]="['backToCart', 'continue']" (continue)="onContinue()"
  [continueEnabled]="formShipping.valid &&
  ( formShipping.get('shippingMethod').value !== 'sameDay' || ( !!formShipping.get('deliveryTime').value && !!formShipping.get('deliveryDate').value) )"></app-checkout-footer>

</form>


