<!-- Main Navigation-->
<nav class="site-menu">
    <ul>
        <li routerLinkActive="active">
            <a routerLink="/home" href="">
                <span>Home</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/products" href="">
                <span>Become a FirstClass Member</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/become-merchant" href="">
                <span>Become merchant</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/Works" href="">
                <span>How it Works</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/best-sellers" href="">
                <span>Best Sellers</span>
            </a>
        </li>
        <!-- <li routerLinkActive="active">
            <a routerLink="/products" href="">
                <span>Products</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/cart" href="">
                <span>Cart</span>
            </a>
        </li> -->
        <li *ngIf="user && user?.roles?.admin" routerLinkActive="active">
            <a routerLink="/admin/add" href="">
                <span>Add Product</span>
            </a>
        </li>
    </ul>
</nav>
