<header class="navbar navbar-sticky navbar-header">

  <div class="site-branding">
    <div class="inner">
      <a class="offcanvas-toggle" href="" (click)="onMenuToggle($event)"></a>
      <a class="site-logo site-name " routerLink="/home" data-toggle="offcanvas"> Fast Delivery</a>
    </div>
  </div>

  <app-navigation-main></app-navigation-main>

  <!-- Toolbar-->
  <div class="toolbar">
    <div class="inner">
      <div class="tools">
        <div class="account">
          <a *ngIf="!user; else whenLoggedIn" routerLink="/login"></a>

          <ng-template #whenLoggedIn>
            <a routerLink="/account/profile"></a>
          </ng-template>

          <i class="icon-head"></i>
          <ul *ngIf="user" class="toolbar-dropdown">
            <li class="sub-menu-user">
              <div class="user-info">
                <h6 class="user-name">{{ user.firstName }} &nbsp; {{ user.lastName }}
                  <span *ngIf="user?.roles?.admin"> (Admin)</span>
                </h6>
              </div>
            </li>
            <li>
              <a routerLink="/account/profile" href="">My Profile</a>
            </li>
            <!-- <li>
              <a routerLink="/account/orders" href="">Orders List</a>
            </li> -->
            <li class="sub-menu-separator"></li>
            <li>
              <a href="" (click)="onLogOut($event)">
                <i class="icon-unlock"></i>Logout</a>
            </li>
          </ul>
          <ul *ngIf="!user" class="toolbar-dropdown">
            <li>
              <a href="" (click)="onRegistration($event)">
                <i class="icon-head"></i>Registration</a>
            </li>
            <li class="sub-menu-separator"></li>
            <li>
              <a href="" (click)="onLogIn($event)">
                <i class="icon-lock"></i>Login</a>
          </ul>


        </div>

        <app-toolbar-cart></app-toolbar-cart>

      </div>
    </div>
  </div>
</header>