<div class="padding-top-2x mt-2 hidden-lg-up">
</div>
<form class="row" [formGroup]="formProfile" (ngSubmit)="onSubmit()">

  <div class="col-md-6">
    <div class="form-group">
      <label for="account-pass">New Password</label>
      <input class="form-control" type="password" formControlName="password" id="account-pass">
    </div>
    <div class="form-group">
      <label for="account-confirm-pass">Confirm Password</label>
      <input class="form-control" type="password" formControlName="confirmPassword" id="account-confirm-pass">
    </div>
  </div>
  <div class="col-12">
    <hr class="mt-2 mb-3">
    <div class="form-group has-danger">
      <div class="form-control-feedback">
        {{ profileErrors }}
      </div>
    </div>
    <div class="text-right">
      <button class="btn btn-primary margin-right-none" type="submit" [disabled]="!formProfile.valid">Update Password</button>
    </div>
  </div>
</form>
<!-- <p>Form value: {{ formProfile.value | json }}</p> -->
